<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Your Website</title>
</head>
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/stock-lookup">Look Up a Stock</a></li>
            </ul>
        </nav>
    </header>